<%= form_with(model: item) do |form| %>
  <%= render 'shared/form_errors', model: item %>

  <%= form.govuk_text_field :name %>

  <%= form.govuk_text_area :metadata, value: (JSON.generate(item.metadata).html_safe if item.metadata?)  %>

  <div>
    <%= form.govuk_submit %>
  </div>
<% end %>
