<!DOCTYPE html>
<html>
  <head>
    <title>ESDA Builder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <script>
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>
    <%=
      govuk_header(service_name: "ESDA Builder") do |header|
        header.with_navigation_item(text: 'Items', href: items_path, active: current_page?(root_path))
      end
    %>

    <div class="govuk-width-container ">
      <%= govuk_phase_banner(
            tag: { text: "Alpha" },
            text: "This is a new service – your feedback will help us to improve it."
          ) %>
      <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <%= content_tag(:p, notice, class: 'notice', style: "color: green") if notice.present? %>
            <%= content_tag(:p, alert, class: 'alert', style: "color: red") if alert.present? %>

            <%= yield %>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
